<div class="dialog-content">
  <div class="dialog-body">
    <form #form="ngForm" [formGroup]="travelForm" class="dialog-form">
      <!-- <span class="p-float-label">
        <input pInputText id="name" formControlName="name" placeholder="Imie" [(ngModel)]="client.name" />
      </span>
      <span class="p-float-label">
        <input pInputText id="surname" formControlName="surname" placeholder="Nazwisko" [(ngModel)]="client.surname" />
      </span>
      <span class="p-float-label">
        <input pInputText id="email" formControlName="email" placeholder="Email" [(ngModel)]="client.email" />
      </span>
      <span class="p-float-label">
        <p-calendar formControlName="birthDay" dateFormat="dd-mm-yy" [(ngModel)]="clientBirthDate" appendTo="body" placeholder="Data urodzenia"></p-calendar>
      </span>
      <span class="p-float-label">
        <input pInputText id="phoneNumber" formControlName="phoneNumber" placeholder="Numer telefonu" [(ngModel)]="client.phoneNumber" maxlength="11"/>
      </span>
      <span class="p-float-label">
        <input pInputText id="city" formControlName="city" placeholder="Miasto" [(ngModel)]="address.city" />
      </span>
      <span class="p-float-label">
        <input pInputText id="postalCode" formControlName="postalCode" placeholder="Kod pocztowy" [(ngModel)]="address.postCode" />
      </span>
      <span class="p-float-label">
        <input pInputText id="street" formControlName="street" placeholder="Ulica" [(ngModel)]="address.street" />
      </span>
      <span class="p-float-label">
        <input pInputText id="streetNumber" formControlName="streetNumber" placeholder="Numer domu" [(ngModel)]="address.streetNumber" />
      </span> -->
    </form>
  </div>
  <div class="dialog-footer">
    <p-button styleClass="button-width dialog-button-margin" [label]="edit ? 'Edytuj': 'Dodaj' " [disabled]="travelForm.invalid" (onClick)="edit ? onEditTravel() : onCreateTravel()"></p-button>
    <p-button styleClass="button-width dialog-button-margin" (onClick)="onCloseDialog()">Anuluj</p-button>
  </div>
</div>
